.bab-1-air-materi-1{
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.SidebarCourse {
  background-color: #333333;
  color: white;
  height: 100vh;
  transition: all 0.3s ease;
  overflow-y: auto;
  flex-shrink: 0;
}

.SidebarCourse.open {
  width: 400px;
  padding: 30px;
}

.SidebarCourse.closed {
  width: 60px;
  padding: 20px 0;
}

.course-container{
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 69px 0;
  margin-left: 69px 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 32px;
}
.course-article{
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  margin-bottom: .5rem !important;
  margin-top: .5rem !important;
}

.course-content{
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 3rem !important;
  margin-left: 260px;
  margin-right: 260px;
}

.course-content h2,h3,h4{
  color: #3f3f46;
  font-weight: 700 !important;
  line-height: 1.2;
  margin-top: 0;
}

.course-content h2{
  font-size: 2rem;
  margin-bottom: 1,5rem;;
}
.course-content h3{
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  line-height: 1.2;
}

.course-content h4{
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.course-content p{
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 0;
}