.kuis-container {
    margin-top: 3rem;
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 12px;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .kuis-container h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .kuis-question {
    margin-bottom: 2rem;
  }
  
  .kuis-option {
    display: block;
    margin: 0.4rem 0;
    font-size: 18px;
    cursor: pointer;
  }
  
  .kuis-submit {
    background-color: #1DBC60;
    color: white;
    border: none;
    padding: 10px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .kuis-submit:hover {
    background-color: #1dbc5f66;
  }
  
  .result {
    margin-top: 0.5rem;
    font-weight: bold;
  }
  
  .result.correct {
    color: green;
  }
  
  .result.incorrect {
    color: red;
  }
  
  .clear-answer-btn {
    margin-top: 10px;
    background-color: #FBFAC4;
    color: rgba(40, 39, 39, 0.795);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.clear-answer-btn:hover {
    background-color: #BAB86C;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
