.bab-2-air-materi-2{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.infografis-course-air-bab1{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 1%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infografis-course-air-bab1 img{
  width: 100%;

}
.course-content p.paragraf-bold {
  font-weight: bold;
} 
