.User-Profile{
    display: flex;
    background-color:#1DBC60 ;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 30px;
}

.User-Photo{
    background-color: #ffffff;
    margin-left: 300px;
    margin-right: 0px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.User-Photo > img{
    width: inherit;
    height: inherit;
    border: 4px transparent;
}
.user-profile-picture-edit-button{
    position: absolute;
    top: 18rem;
    left: 29rem;
}


.User-Information{
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.profile-headline-name{
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 30px;
}

.User-Information > p{
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar-Control{
    margin-top: .5rem !important;;
}

.profile-navbar-control, .user-progress{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 400px;
    margin-left: 400px;
}

.profile-navbar-control{
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding-left: unset;
}

.navbar-course-button > a{
    padding: 8px;
    text-decoration: unset;
    font-weight: 400;
    color: #18181b;
    display: inline-block;
}
.navbar-challenge-button > a{
    padding: 8px;
    text-decoration: unset;
    font-weight: 400;
    color: #18181b;
    display: inline-block;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-and-content{
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
}

.dropdown-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    color: #000;
}

.dropdown-shown{
    position: relative;
}

.button-dropdown{
    cursor:pointer;
}
