* {
    box-sizing: border-box;
  }
.User-Profile{
    display: flex;
    background-color:#1DBC60 ;
    background-image: url("../assets/Background-login.jpg") ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap:20px
}

.User-Photo{
    background-color: #1DBC60;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.User-Photo > img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
}
.user-profile-picture-edit-button{
    position: absolute;
    top: 17rem;
    left: 61rem;
}

.User-Information{
    text-align: center;
    
}
.profile-headline-name{
    color: black;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 30px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.User-Information > p{
    margin-top: 0px !important;
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar-Control{
    margin-top: .5rem !important;;
}



.profile-navbar-control{
    max-width: 100%;
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding-left: unset;
    margin-right: 300px;
    margin-left: 300px;
}

.navbar-course-button > a{
    padding: 8px;
    text-decoration: unset;
    font-weight: 400;
    color: #18181b;
    display: inline-block;
}
.navbar-challenge-button > a{
    padding: 8px;
    text-decoration: unset;
    font-weight: 400;
    color: #18181b;
    display: inline-block;
}

.user-progress{
    display: flex;
    justify-content: flex-end;
    margin-top: 0px !important;
    margin-bottom: 1.5rem !important;
    margin-right: 300px;
    padding-right: 15px;
}


.dropdown-and-content{
    margin-bottom: 1.5rem !important;
}
.dropdown{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
}
.dropdown-label{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    color: #000;
}

.dropdown-shown{
    position: relative;
}

.row-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 300px;
    margin-left: 300px;
}
.progress-container{
    flex: 1 1 600px; 
    margin-top: .5rem !important;
    width:625px;
    width: 100%;
}

.user-course-profile{
    padding-left: .5rem !important;
    padding-bottom: .5rem !important;
    padding-right: .5rem !important;
    padding-top: .5rem !important;
}

.course-card-user-progress{
    height: 100%;
    align-items: flex-start;
    border: 1px solid #e4e4e7;
    border-radius: 4px;
    color: inherit;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.course-card-header{
    flex-direction: row;
    display: flex;
    width: 100%;
    align-items: center;
}

.course-card-logo-wrapper{
    margin-right: 1rem;
    max-width: 4rem;
    position: relative;
}

img{
    vertical-align: middle;
    border-style: none;
}

.course-card-logo{
    border-radius: 2px;
    height: auto;
    max-width: 100%;
}

.course-card-name{
    font-size: 20px;
    font-weight: 700 !important;
    margin:0px;
}

.course-card-summary{
    padding: 19px 0;
    color: #71717a;
}

.course-card-summary > p{
    margin: 0;
}

.course-card-user-progress:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  