* {
    box-sizing: border-box;
  }
.User-Profile{
    display: flex;
    background-color:#1DBC60 ;
    background-image: url("../assets/Background-login.jpg") ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap:20px
}

.User-Photo{
    background-color: #1DBC60;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.User-Photo > img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
}
.user-profile-picture-edit-button{
    position: absolute;
    top: 17rem;
    left: 61rem;
}

.User-Information{
    text-align: center;
    
}
.profile-headline-name{
    color: black;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 30px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.User-Information > p{
    margin-top: 0px !important;
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar-Control{
    margin-top: .5rem !important;;
}

.profile-navbar-control, .user-progress{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 400px;
    margin-left: 400px;
    max-width: 960px;
}

.profile-navbar-control{
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding-left: unset;
}

.navbar-course-button > a{
    padding: 8px;
    text-decoration: unset;
    font-weight: 400;
    color: #18181b;
    display: inline-block;
}
.navbar-challenge-button > a{
    padding: 8px;
    text-decoration: unset;
    font-weight: 400;
    color: #18181b;
    display: inline-block;
}

.user-progress{
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-and-content{
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
}
.dropdown{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
}
.dropdown-label{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    margin: 0;
    color: #000;
}

.dropdown-shown{
    position: relative;
}

.button-dropdown{
    font-weight: 400;
    padding: 16px;
    border-radius: 2px;
    border: solid rgb(178, 178, 178) 1px;
    letter-spacing: normal;
    font-size: 20px !important;
    color: #18181b !important;
    cursor:pointer;
    background-color: #ffffff;
}

.button-dropdown:hover{
    border: 1px solid #1DBC60;
}