.Bab-1-air-materi-2{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* PENTING */
  box-sizing: border-box;
  overflow: hidden;
}
.course-content p.paragraf-bold {
  font-weight: bold;
} 